@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color);
}
:root{
    --bg-color:#1b1b1c;
    --border-color:#2b2d31;
    --green-color:#22c55e;
    --input-color:#2a3038;
    --main-color: #48ff91;
}
.b
{
    outline: 1px solid transparent;  
}

@layer utilities {
    img {
      filter: none !important;
      -webkit-filter: none !important;
      mix-blend-mode: normal !important;
      isolation: isolate;
    }
  }